<app-page-header
*ngIf="headerOptions"
[pageHeaderOptions]="headerOptions"
></app-page-header>
<div class="{{pageConfig.formConfig.continarClass ?? 'card border-round-2xl'}}" #formContainerRef *ngIf="form">
    <kitsng-form-factory
    [fields]="fields"
    [form]="form"
    ></kitsng-form-factory>
    <div class="flex justify-content-end">
      <p-button type="submit" label="{{item?'Update':'Submit'}}" (click)="submit($event)" [disabled]="form.disabled" [loading]="form.disabled"></p-button>
      <p-button type="button" label="Cancel" styleClass="p-button-outlined p-button-info mx-2" (onClick)="back()"  [disabled]="form.disabled"></p-button>
    </div>
</div>

<p-toast></p-toast>
