<!-- Heading يظهر فقط عندما يتم تحميل headerOptions -->
<app-page-heading 
  *ngIf="headerOptions" 
  [pageHeaderOptions]="headerOptions">
</app-page-heading>

<!-- الفورم -->
<div class="card border-round-2xl" #formContainerRef *ngIf="form">
  <kitsng-form-factory 
    [fields]="formFields"
    [form]="form">
  </kitsng-form-factory>

  <!-- أزرار العمليات -->
  <div class="flex justify-content-end gap-1 mt-3">
    <p-button 
      type="submit" 
      [label]="pageUrl === 'edit' ? 'Update' : 'Submit'" 
      (onClick)="submit()" 
      [disabled]="form.disabled" 
      [loading]="form.disabled">
    </p-button>
    <p-button  
      label="Cancel" 
      (onClick)="back()" 
      [disabled]="form.disabled">
    </p-button>
  </div>
</div>

<!-- التنبيهات -->
<p-toast></p-toast>
